@tailwind base;
@tailwind components;
@tailwind utilities;

/* General styling */

body {
  @apply background text-gray-400;
}

#__next {
  @apply min-h-screen flex flex-col relative;
}

a {
  @apply font-medium text-violet-400 hover:text-violet-300;
}

strong {
  @apply font-bold;
}

pre, code {
  @apply font-mono;
}

/* Utilities classes */

.title {
  @apply text-gray-50 leading-none font-extrabold;
}

.subtitle {
  @apply font-thin leading-none text-gray-300;
}

.body {
  @apply text-gray-400;
}

.h1 {
  @apply text-4xl sm:text-6xl lg:text-7xl;
}

.h2 {
  @apply text-3xl sm:text-4xl lg:text-5xl;
}

.h3 {
  @apply text-2xl sm:text-3xl lg:text-4xl;
}

.h4 {
  @apply text-xl sm:text-2xl lg:text-3xl;
}

.h5 {
  @apply text-lg sm:text-xl lg:text-2xl;
}

.aspect-macbook {
  aspect-ratio: 1440 / 900;
}

.background {
  background-color: #040d21;
}

.code-effect::before {
  content: ".";
  @apply text-gray-50;
}
.code-effect::after {
  content: "()";
  @apply text-gray-50;
}

.react-effect::before {
  content: "<";
  @apply text-gray-50;
}
.react-effect::after {
  content: "/>";
  @apply text-gray-50 ml-2;
}
